<div>
  <form action="/session" method="post">
    <label>Login</label>
      <%= erb(:'partials/login') %>
  </form>
  <div>
    <span>If you dont have an account please </span>
    <a href="/users/new">register</a>
  </div>
  <div>
    <span>Continue as a</span>
    <a href='/decks'> guest</a>
  </div>
</div>
