<div>
  <form action="/sessions" method="post">
    <label>Login</label>
      <%= erb(:'partials/login') %>
  </form>
  <div>
    <span>if you dont have an account please </span>
    <a href="/users/new">register</a>
  </div>
</div>
