nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#login form {
    background-color: F8F8F8;
    width: 30%;
    border: 3px solid #f1f1f1;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#login form input[type=email], input[type=password] {
    width: 75%;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login form input[type=submit] {
  background-color: #008CBA;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border: 3px solid #f1f1f1;
  opacity: .5;
}

#login form input[type=submit]:hover {
  opacity: 0.8;
}

#decks_list form input[type=submit] {
  background-color: #1E90FF;
  color: #F8F8F8;
  padding: 5px 5px;
  margin-bottom: 3px;
  border: none;
  cursor: pointer;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}

#decks_list form input[type=submit]:hover {
  opacity: 0.7;
}

h1 {
  font-family: sans-serif;
  font-size: 200%;
  font-style: oblique;
  margin-left: 20px;
  text-decoration: underline;
  opacity: .9;
}

#question {
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  border: 1px solid grey;
}

#question_form {
  padding-left: 25px;
}

#questions_left {
  font-size: 12px;
  margin-left: 25px;
}

#game_progress a {
  color: red;
}

#game_progress {
  color: white;
  margin-left: 30px;
}

#game_stats {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
  border: 1px solid grey;
}
