<nav>
  <ul>
    <% find_user %>
    <% if questions_left? %>
      <span id="game_progress"> Game in progress:
        <a href="/game/<%= @game.id %>/continue">continue</a>
    </span>
    <% else %>
      <span id="game_progress"><strong>Game completed</strong></span>
    <% end %>
  </ul>
</nav>
