<nav>
  <ul>
    <% find_user %>
    <% if logged_in? %>
    <li ><a href='/account'>Account</a></li>
    <li ><a href='/users/logout'>Log out</a></li>
    <li ><a href='/decks'>Homepage</a></li>
    <% else %>
    <li class=><a href='sessions/new'>Log in</a></li>
    <li ><a href='/decks'>Homepage</a></li>
    <% end %>
    <% find_game %>
    <% if game? %>
    <li ><a href='/game/logout'>End game</a></li>
    <li ><a href='/guess/new'>Return to game</a></li>
    <% end %>
  </ul>
</nav>
