<%= erb :'partials/navbar' %>

<p><%= @card.question %></p>

<form method='post' action='/guess'>
  <input type='hidden' name="card_id" value="<%= @card.id %>" >
  <input type='text' name='answer' placeholder='type your answer here'>
  <input type='submit'>
</form>
