<%= erb(:'partials/navbar') %>

<div>
  <li><form method = "post"  action= "/decks/new"><input type= "submit" value= "Create a new deck"></form></li>

<% @games.each do |game| %>
<div>
  <% @game = game %>
  <%= erb(:'partials/display_game_stats') %>
  <%= erb(:'partials/account_footer') %>
</div>
<% end %>
