<%= erb(:'partials/navbar') %>


<div>
  <form method= "post" action= "/cards/new/temp">
    <input type= "text" placeholder= "Deck Name" name= "new_deck_name">
    <input type= "submit">
  </form>
</div>
